
$body-bg: #fafafa !default;

$gray-color:  #999999 !default;
$black-color: #3C4858 !default;
$grayLight-color: #a9afbb !default;

$black: #000000; $rgb-black: "0,0,0" !default;
$white: #ffffff; $rgb-white: "255,255,255" !default;

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; 
$gray-dark:              lighten($gray-base, 20%) !default;  
$gray:                   lighten($gray-base, 33.5%) !default; 
$gray-light:             #999999 !default; 
$gray-lighter:           lighten($gray-base, 93.5%) !default; 

$purple: #9c27b0;