<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.linkedin.com/in/nataliahamunoz/">
                        Linkedin
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with love by
            <a href="https://www.linkedin.com/in/nataliahamunoz/" target="_blank">Natalia Muñoz</a>.
        </div>
    </div>
</footer>
