<div class="wrapper">
    <!--Uso un data para el tipo de template, de escalarse el proyecto se podría utilizar varios templetes diferenciando por su color clave-->
    <div class="sidebar" data-color="pink" data-background-color="white" data-image="./assets/img/sidebar-3.jpg">
        <app-navbar></app-navbar>
    <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-3.jpg)"></div>
</div>
<div class="main-panel">
 <div class="main-content">
    <router-outlet></router-outlet>
 </div>
   <app-footer></app-footer>
</div>

 <!--Para el diseño de la app debe quedar de esta manera y no romper la arquitectura-->
