.toolbar {
    .toolbar-wrapper {
      display: inline-flex;
      align-items: center;
      float: left;
      padding-left: 250px;
      padding-top: 20px;
    }
  
    .toolbar-brand {
      position: relative;
      color: inherit;
      height: 50px;
      font-size: 1.125rem;
      line-height: 30px;
      padding: 0.625rem 0;
      font-weight: 300;
      margin-left: 1rem;
    }
  }
  
  .main-panel .toolbar {
    margin-bottom: 0;
  }
  
  .toolbar {
    &.toolbar-transparent {
      padding-top: 10px;
      background-color: transparent !important;
      box-shadow: none;
      padding-top: 25px;
    }
  
    &.toolbar-absolute {
      position: absolute;
      width: 100%;
      padding-top: 10px;
      z-index: 1029;
    }
  }