.footer {
    padding: 0.9375rem 0;
    text-align: center;
    display: flex;
    border-top: 1px solid #e7e7e7;
  }
  
  .pull-left {
    float: left;
  }
  
  .pull-right {
    float: right;
  }
  
  .footer .copyright {
    padding: 15px 0;
  }
 